@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    /* Usamos propiedad background definiendo todas las propiedades posibles. */
    background: url('https://images.hdqwalls.com/wallpapers/halo-infinite-2020-dd.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px); /* Podemos agregar una difuminación a la imagen. */
}

.loading-text {
    font-size: 50px;
    color: #FFF;
}

